In [2]:
# Importing the libraries

import pandas
import nixtla
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'kaggle'

In [10]:
# Load the dataset

df = pandas.read_csv('IOT-temp.csv')

# Examine the dataset
print(df.head())

missing_values = df.isnull().sum()
print('Missing Valies', missing_values)

                                    id  room_id/id        noted_date  temp  \
0  __export__.temp_log_196134_bd201015  Room Admin  08-12-2018 09:30    29
1  __export__.temp_log_196131_7bca51bc  Room Admin  08-12-2018 09:30    29
2  __export__.temp_log_196127_522915e3  Room Admin  08-12-2018 09:29    41
3  __export__.temp_log_196128_be0919cf  Room Admin  08-12-2018 09:29    41
4  __export__.temp_log_196126_d30b72fb  Room Admin  08-12-2018 09:29    31

  out/in
0     In
1     In
2    Out
3    Out
4     In
Missing Valies id            0
room_id/id    0
noted_date    0
temp          0
out/in        0
dtype: int64

In [4]:
df.dropna()

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,28-07-2018 07:07,31,In
97602,__export__.temp_log_147733_62c03f31,Room Admin,28-07-2018 07:07,31,In
97603,__export__.temp_log_100386_84093a68,Room Admin,28-07-2018 07:06,31,In
97604,__export__.temp_log_123297_4d8e690b,Room Admin,28-07-2018 07:06,31,In
97605,__export__.temp_log_133741_32958703,Room Admin,28-07-2018 07:06,31,In

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns

# Select numeric columns for outlier detection
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns

# Plot box plots for each numeric column
for column in numeric_columns:
    plt.figure(figsize=(10, 5))
    sns.boxplot(x=df[column])
    plt.title(f'Box plot of {column}')
    plt.show()

ModuleNotFoundError: No module named 'matplotlib'